body{
    background-color: black;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    /* "vh" é a altura da janela de visualização, mas da pra usar em pixel tb e "min-height" é a altura minima que o elemento tem que ter*/
}

.box{
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    padding: 25px 25px; /*primeiro numero é a altura e o segundo a largura*/
    border-radius: 20px;
    /* "box-shadow: 0px 0px 20px greenyellow;" cria uma sombra, sendo o primeiro px o movimento de direita e esquerda, o segundo a altura e o ultimo o quão desfocada a sombra
    vai ficar, nao vou usar, mas é legal saber*/
}

.form-box{
    width: 450px;
    margin: 0px 10px;
}

.form-box header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}

.form-box form .campo{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

.form-box form .input input{ /*ali tá ".input input, por que tá mexendo no INPUT em si, da class que tem o mesmo nome*/
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid rgb(82, 187, 82);
    outline: none;
}

.btn{
    height: 35px;
    background-color: rgb(82, 187, 82);
    border: 0;
    border-radius: 5px;
    color: black;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 10px;
}

.btn:hover{ /*muda o css do botão quando o mouse estiver em cima*/
    opacity: 0.82;
}

.submit{
    width: 100%;
}

.links{
    margin-bottom: 15px;
}


/*--------------------------home--------------------------*/

.nav{
    background: rgb(162, 235, 53);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 60px;
    z-index: 100; /*mexe no nivel de profundidade do elemento*/
}
.logo{
    font-size: 25px;
    font-weight: 900;
}

.right-links a{
    padding: 0 10px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.main-box{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.main-box .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom{
    width: 100%;
    margin-top: 20px;
}

@media only screen and (max-width:840px){
    .main-box .top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .top .box{
        margin: 10px 10px;
    }
    .bottom{
        margin-top: 0;
    }
}

